<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net471" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net471" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net471" />
  <package id="Fody" version="3.3.2" targetFramework="net471" developmentDependency="true" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="2.3.0" targetFramework="net471" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net471" />
  <package id="MaterialDesignThemes" version="2.5.0.1205" targetFramework="net471" />
  <package id="MaterialDesignThemes.MahApps" version="0.0.12" targetFramework="net471" />
  <package id="MaterialIcons" version="1.0.3" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net471" />
</packages>